<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunes</title>
    <link rel="stylesheet" href="pag.css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
</head>
<body>
    <object id="nav" data="components/nav/nav.html" type="" width="100%" height="67px"></object>
    <main class="contenedor">
        <div class="contenedor-lista">
            <div class="contenedor-lista-input">
                <input type="checkbox" name="" id="input">
                <label for="input">hacer ejercicio</label>
            </div>
            <div class="contenedor-lista-input">
                <input type="checkbox" name="" id="input">
                <label for="input">hacer ejercicio</label>
            </div>
            <div class="contenedor-lista-input">
                <input type="checkbox" name="" id="input">
                <label for="input">hacer ejercicio</label>
            </div>
            <div class="contenedor-lista-input">
                <input type="checkbox" name="" id="input">
                <label for="input">hacer ejercicio</label>
            </div>
            <div class="contenedor-lista-input">
                <input type="checkbox" name="" id="input">
                <label for="input">hacer ejercicio</label>
            </div>
            <div class="contenedor-lista-input">
                <input type="checkbox" name="" id="input">
                <label for="input">hacer ejercicio</label>
            </div>
        </div>

        <div class="containerimg">
            <h1>Tareas del Jueves</h1>
            <img src="../../img/lista.png" alt="">
        </div>
    </main>
</body>
</html>