<link rel="stylesheet" href="nav.css">
<link rel="stylesheet" href="fontawesome/css/all.css">
<header>
    <h1>RONALD CARRILLO</h1>
    <ul>
        <li class="lista"><a href="../../index.html" target="_top"><i class="fa-solid fa-house"> </i><span>Inicio</span></a></li>
        <li class="lista"><a href="#"><i class="fa-solid fa-address-card"></i><span>Acerca de mí</span></a></li>
        <li class="lista"><a href="#"><i class="fa-solid fa-message"></i><span>Contáctame</span></a></li>
    </ul>
</header>
