<link rel="stylesheet" href="letter.css">
<main class="container">
    <a class="container-link" href="../page/page01.html">
        <div class="task">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati possimus ad vero quisquam nostrum eaque ullam aperiam repellat illum amet consectetur minima laborum quasi ab vel, deleniti, pariatur delectus.</p>
            <img class="rotating-img" src="../../img/sol.png" alt="Imagen de sol">
        </div>
    </a>
    <a class="container-link" href="../page/page02.html">
        <div class="task">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati possimus ad vero quisquam nostrum eaque ullam aperiam repellat illum amet consectetur minima laborum quasi ab vel, deleniti, pariatur delectus.</p>
            <img class="rotating-img" src="../../img/sol.png" alt="Imagen de sol">
        </div>
    </a>
    <a class="container-link" href="../page/page03.html">
        <div class="task">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati possimus ad vero quisquam nostrum eaque ullam aperiam repellat illum amet consectetur minima laborum quasi ab vel, deleniti, pariatur delectus.</p>
            <img class="rotating-img" src="../../img/sol.png" alt="Imagen de sol">
        </div>
    </a>
    <a class="container-link" href="../page/page04.html">
        <div class="task">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati possimus ad vero quisquam nostrum eaque ullam aperiam repellat illum amet consectetur minima laborum quasi ab vel, deleniti, pariatur delectus.</p>
            <img class="rotating-img" src="../../img/sol.png" alt="Imagen de sol">
        </div>
    </a>
    <a class="container-link" href="../page/page05.html">
        <div class="task">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati possimus ad vero quisquam nostrum eaque ullam aperiam repellat illum amet consectetur minima laborum quasi ab vel, deleniti, pariatur delectus.</p>
            <img class="rotating-img" src="../../img/sol.png" alt="Imagen de sol">
        </div>
    </a>
    <a class="container-link" href="../page/page06.html">
        <div class="task">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati possimus ad vero quisquam nostrum eaque ullam aperiam repellat illum amet consectetur minima laborum quasi ab vel, deleniti, pariatur delectus.</p>
            <img class="rotating-img" src="../../img/sol.png" alt="Imagen de sol">
        </div>
    </a>
    <a class="container-link" href="../page/page07.html">
        <div class="task">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore obcaecati possimus ad vero quisquam nostrum eaque ullam aperiam repellat illum amet consectetur minima laborum quasi ab vel, deleniti, pariatur delectus.</p>
            <img class="rotating-img" src="../../img/sol.png" alt="Imagen de sol">
        </div>
    </a>
</main>